
<%= form_for @sighting, url: {action: form_action}, html: {class: "creature_form"} do |f| %>

<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= label_tag(:creature_id, "Enter Creature's ID:") %>
  </div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <%= f.text_field :creature_id %>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= label_tag(:description, "Enter Description of Sighting:") %>
  </div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <%= f.text_area :description, size: "60x12" %>
  </div>
</div>
<div class="row pull-right">
  <%= f.submit form_action.capitalize %>
</div>

<% end %>
