
<%= bootstrap_form_for @sighting do |s| %>

  <div class="panel panel-default">
     <div class="panel-body bog-form">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <p><%= s.text_area :description %></p>
        <p><%= s.text_field :location_id %></p>
        <p><%= s.text_field :user_id %></p>
      </div>
    </div>
    <div class="panel-footing">
      <%= s.primary %>
    </div>
  </div>
<% end %>