

<div class="row">
  <h2>Sighting List</h2>

  <%= link_to " Create New Sighting", new_sighting_path, class: 'btn btn-primary btn-xs glyphicon glyphicon-plus pull-right' %>
</div>



<% @sightings.each do |sighting| %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to sighting.creature.name, sighting %></h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <%= sighting.description %>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right">
      <%= link_to "", edit_sighting_path(sighting), class: 'btn btn-primary btn-xs glyphicon glyphicon-pencil' %>

      <%= link_to "", sighting, method: :delete, class: 'btn btn-danger btn-xs glyphicon glyphicon-trash' %>
    </div>
  </div>
</div>

<% end %>